@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    outline: none;
    text-decoration: none;
}

body, input{
    font-family: 'Poppins', sans-serif;
}

.container{
    position: relative;
    width: 100%;
    min-height: 100vh;
    background: #fff;
    overflow: hidden; 
}

.container .form-container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.container .form-container .signin-signup form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container .form-container .signin-signup form h2{
    font-style: 2.2rem;
    color: #444;
    margin-bottom: 10px;
}

.container .form-container .signin-signup 
form .input-field{
    max-width: 380px;
    width: 100%;
    height: 55px;
    background: #f0f0f0;
    margin: 10px 0;
    border-radius: 55px;
    display: grid;
    grid-template-columns: 15% 85%;
    padding: 0 .4rem;  
}

.container .form-container .signin-signup 
form .input-field i{
    text-align: center;
    line-height: 55px;
    color: #acacac;
    font-size: 1.1rem;
}
.container .form-container .signin-signup 
form .input-field input{
    background: none;
    border: none;
    font-weight: 600;
    line-height: 1;
    font-style: 1.1rem;
    color: #333;
}

.container .form-container .signin-signup 
form .input-field input::placeholder{
    font-weight: 500;
    color: #aaa;
}

.container .form-container .signin-signup 
form .btn{
    width: 150px;
    height: 49px;
    border: none;
    border-radius: 49px;
    cursor: pointer;
    background-color: #5995fd;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    transition: .5s;
    margin: 10px 0;
}

.container .form-container .signin-signup 
form .btn:hover{
    background-color: #4d84e2;
}