@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    outline: none;
    text-decoration: none;
}

body, input{
    font-family: 'Poppins', sans-serif;
}

.container{
    position: relative;
    width: 100%;
    min-height: 100vh;
    background: #fff;
    overflow: hidden; 
}

.container:before{
    content: '';
    position: absolute;
    width: 2000px;
    height: 2000px;
    border-radius: 50%;
    background: linear-gradient(-45deg, #4481eb, #04befe);
    top: -10%;
    right: 48%;
    transform: translateY(-50%);
}

.container .form-container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.container .form-container .signin-signup{
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-50%, -50%);
    width: 50%;
    display: grid; /*para sobrepor os forms*/
    grid-template-columns: 1fr; /*idem*/
}

.container .form-container .signin-signup form{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 5rem;
    overflow: hidden;
    flex-direction: column;
    grid-column: 1 / 2; /*para sobrepor os forms*/
    grid-row: 1 / 2; /*para sobrepor os forms*/
}

.container .form-container .signin-signup
.sign-in-form{
    z-index: 1;
}
 
 .container .form-container .signin-signup
.sign-up-form{
    z-index: 2;
    opacity: 0;
}

.container .form-container .signin-signup form h2{
    font-style: 2.2rem;
    color: #444;
    margin-bottom: 10px;
}

.container .form-container .signin-signup 
form .input-field{
    max-width: 380px;
    width: 100%;
    height: 55px;
    background: #f0f0f0;
    margin: 10px 0;
    border-radius: 55px;
    display: grid;
    grid-template-columns: 15% 85%;
    padding: 0 .4rem;  
}

.container .form-container .signin-signup 
form .input-field i{
    text-align: center;
    line-height: 55px;
    color: #acacac;
    font-size: 1.1rem;
}
.container .form-container .signin-signup 
form .input-field input{
    background: none;
    border: none;
    font-weight: 600;
    line-height: 1;
    font-style: 1.1rem;
    color: #333;
}

.container .form-container .signin-signup 
form .input-field input::placeholder{
    font-weight: 500;
    color: #aaa;
}

.container .form-container .signin-signup 
form .btn{
    width: 150px;
    height: 49px;
    border: none;
    border-radius: 49px;
    cursor: pointer;
    background-color: #5995fd;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    transition: .5s;
    margin: 10px 0;
}

.container .form-container .signin-signup 
form .btn:hover{
    background-color: #4d84e2;
}

.container .form-container .signin-signup 
form .social-text{
    padding: .7rem;
    font-size: 1rem;
}

.container .form-container .signin-signup 
form .social-media{
    display: flex;
    justify-content: center;
}

.container .form-container .signin-signup 
form .social-media .social-icon{
    height: 46px;
    width: 46px;
    border: 1px solid #333;
    margin: 0 0.45rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #333;
    font-style: 1.1rem;
    border-radius: 50%;
    transition: .3s;
}

.container .form-container .signin-signup 
form .social-media .social-icon:hover{
    color: #4481eb;
    border-color: #4481eb;
}